.main_page {
  margin: 20px 5%;
}

.item_list {
  padding-top: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
}
.back_square {
  width: 220px;
  height: 220px;
  background-color: white;
  box-shadow: 0 0 20px grey;
  border-radius: 6px;
}

.item_list img {
  width: 140px;
  position: absolute;
  margin-right: 20px;
  translate: -50% -20%;
}

.item {
  text-align: center;
}

.info_text {
  margin-top: -110px;
  color: black;
}
.item_list a {
  text-decoration: none;
}

.item hr {
  height: 2px;
  color: lightgrey;
  background-color: lightgrey;
  border-width: 0;
  width: 50%;
}
